
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Advanced Collaboration</h1>
                    <p>Write codes, come together, chat and video call with your peers.</p>
                    <p><a class="btn btn-lg btn-primary" href="/ide">Explore</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Online Interviews.</h1>
                    <p>Practice, Learn, Improve. Attempt timed mock interviews and get feedback from the community.</p>
                    <p><a class="btn btn-lg btn-primary" href="/interviews">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Other features.</h1>
                    <p>Access the library for study resources, contribute your materials, calculate your GPA all at one place.</p>
                    <p><a class="btn btn-lg btn-primary" href="/library">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
          <img src= "/images/ideicon.png" alt="book" width="40" height="40">
&nbsp;&nbsp;&nbsp;
        <div>
          <h2>Collaborative IDE</h2>
          <p>Create a workspace and invite your peers to collaborate. Users can also chat and video call. Each meeting is unique to its correspondinng room. The compiler supports 4 languages as of now (C, C++, Python, Java) with more to be added soon. The workspaces will be saved and it cann be accessed later too.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<img src= "/images/interviewicon.png" alt="book" width="55" height="55">
&nbsp;&nbsp;&nbsp;
        <div>
          <h2>Interviews</h2>
          <p>This feature is only intended towards learning. As placements have shifted to online mode and some companies have online interviews as shortlisting rounds, users can attempt these mock interviews with previous question sets of different companies. The attempted interview will be uploaded to the feed for community feedback and improvements.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<img src= "/images/books.png" alt="book" width="45" height="45">
&nbsp;&nbsp;&nbsp;
        <div>
          <h2>Library</h2>
          <p>Users can upload their study materials and download the existing ones. The library is made FOR the community, BY the community. To add new courses, users can submit request for the same and the course will be verfied and added on the dashboard. There is also a GPA calculator to calculate your GPA with different combinations of grades and credits.</p>
        </div>
      </div>
    </div>
  </div>

