<div class="container d-flex h-100">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
            <h1 style="font-size: 110px; font-weight:700">VITdost</h1>
            <p class="lead"><b>An advanced platform to bridge all the technological gaps. Collaborative IDE. Chat. Video Call. Online Mock Interviews. Library. GPA Calculator and much more.</b></p>
        </main>
    </div>
    <img src= "/images/frontpage.jpeg" style="width: 50%">

</div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/images/interviewcard.png" class="card-img-top" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Interviews</h5>
        <p class="card-text">Users can attempt these mock interviews with previous question sets of different companies. The attempted interview will be uploaded to the feed for community feedback and improvements.</p>
        <a href="" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/idecard.png" class="card-img-top" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Collaborative IDE</h5>
        <p class="card-text">Create a workspace and invite your peers to collaborate. Users can also chat and video call.</p>
        <br /><br /><br />
        <a href="" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/libcard.png" class="card-img-top" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Library</h5>
        <p class="card-text">Users can upload their study materials and download the existing ones. The library is made <b>FOR</b> the community, <b>BY</b> the community.</p>
        <br /><br />
        <a href="" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/apticard.png" class="card-img-top" style="padding: 10px; margin-bottom: 8%">
      <div class="card-body">
        <h5 class="card-title">Aptitude Tests</h5>
        <p class="card-text">Take our aptitude tests to improve your problem - solving skills.</p>
        <br /><br /><br /><br />
        <a href="" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
  </div>

