<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/interview.png" class="d-block mx-lg-auto img-fluid" alt="interview" style="width: 100%"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Thank You for taking the interview.</h1>
      <p class="lead">We hope you learned something new and this might have boosted your confidence. The interview has been added to the feed for community feedbacks.</p>
      <p class="lead">Good Luck!</p>
    </div>
  </div>
</div>