<div class="container col-xxl-8 px-4 py-5" style="margin-top: -50px;">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/interview.png" class="d-block mx-lg-auto img-fluid" alt="interview" style="width: 100%"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Take an Interview</h1>
      <p class="lead">Attempt these timed mock interviews, with industry-standard questions and get feedback from the
        community.</p>
      <p class="lead">Rules :
        <ul>
          <li>Each Interview is recorded and is of 3 minutes only. Interview will get autosubmitted after 3 minutes.</li>
          <li>As the timer stops, the recording stops, and is uploaded to the feed.</li>
          <li>Once the interview starts, user cannot navigate to other pages /  switch tabs. If involved in such malpractice, user shall be banned from the ongoing and further interviews.</li>
          <li>The entire screen, audio and video of the user is recorded.</li>
          <li>You can also choose to make the interview public / private.</li>
          <li>Choosing a domain below, will start your interview.</li>
        </ul>

      </p>
      
      <p class="lead">Choose a domain.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/interviews/takeinterview/technical"><button type="button"
            class="btn btn-primary btn-lg px-4 me-md-2">Technical</button></a>
        <a href="/interviews/takeinterview/hr"><button type="button"
            class="btn btn-primary btn-lg px-4">HR</button></a>
      </div>
    </div>
  </div>
</div>