<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5" style="height: 80%;">

                <!-- Demo content-->
                <div class="container" >
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Please enter your email ID and password.</p>
                            <form method="POST" action="/users/login">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" name="email" type="email" placeholder="Email address" required=""
                                        autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" name="password" type="password" placeholder="Password" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                <br>
                                <br>
                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="font-size: larger;">Sign in</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p>Don't have an account? <a href="/users/register"
                                            class="font-italic text-muted">
                                            <u>Register</u></a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>