<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/interview.png" class="d-block mx-lg-auto img-fluid" alt="interview" style="width: 100%" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sorry!</h1>
        <p class="lead">You have attempted all the questions in this domain. Please visit later for new updates to the question bank.</p>
        <p class="lead">Thank You.</p>
      </div>
    </div>
  </div>